<mat-toolbar class="navbar">
  <form>
  <mat-form-field appearance="fill" class="search">
    <mat-label>Search a tune</mat-label>
    <input matInput id="search" name="search" type="text" required #search="ngModel"
           (keydown)="browseSpotify()" placeholder="24k magic" [(ngModel)]="searchValue">
    <mat-error *ngIf="search.errors?.['required']">
      A search value is required.
    </mat-error>
  </mat-form-field>
  </form>
</mat-toolbar>

<div class="results" *ngIf="searchResult">
  <div *ngFor="let track of searchResult.items" id="{{track.name}}}" class="track">
    <img src="{{track.album.images[1].url}}"/>
    <a [routerLink]="['/review', track.id]">
      <h1>{{track.name}}</h1>
      <h2 class="tune-info">{{track.album.name}}</h2>
      <div class="artists">
          <p class="tune-info" *ngFor="let artist of track.artists; last as isLast;">
            {{artist.name}}
            <ng-container *ngIf="!(isLast)">•&nbsp;</ng-container>
          </p>
      </div>
    </a>
  </div>
</div>
