<div *ngIf="error === null">
  <div *ngIf="track">
    <div class="track">
      <img src="{{track.album.images[1].url}}"/>
      <h1>{{track.name}}</h1>
      <h2 class="tune-info">{{track.album.name}}</h2>
      <div class="artists">
        <p class="tune-info" *ngFor="let artist of track.artists; last as isLast;">
          {{artist.name}}
          <ng-container *ngIf="!(isLast)">•&nbsp;</ng-container>
        </p>
      </div>
    </div>
    <audio controls>
      <source src="{{track.preview_url}}" type="audio/mp3">
      Your browser does not support the audio element.
    </audio>
    <h2 *ngIf="trackRating" >{{trackRating}}</h2>
    <div>
      <!-- Contains information the user has submitted -->
      <ng-container>
        <input type="number" min="1" max="5" [(ngModel)]="userRating">
        <button (click)="addTuneRating()">Submit</button>
      </ng-container>
    </div>
    <br>
    <button (click)="deleteTuneRating()">Delete</button>
  </div>
</div>

<div *ngIf="error !== null">
  <p>There was an error getting your request: {{error}}</p>
</div>
